@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.svg-logo{
    width: 250px;
    height: auto;
    z-index: 1;
    right: 15%;
    position: absolute;
    top: 15%;
    animation: fadeOut 3s 1s forwards;
}

.solid-logo{
    width: 250px;
    height: auto;
    z-index: 2;
    right: 15%;
    position: absolute;
    top: 15%;
    opacity: 0;
    animation: fadeIn 1s 1s forwards;

}


