.skillset-container{
    // float: left;
    position: relative;
    margin-top: 100px;
    width: 110%;
    // margin-top: 10%;
    // left: 10%;
    // top: 30%;
    .type-animation-wrapper{
        font-size: 50px;
        font-family: 'Coolvetica';
        color: white;
    }
}
