.skillset-container{
    // float: left;
    position: absolute;
    margin: 20px;
    left: 10%;
    top: 30%;
    .type-animation-wrapper{
        font-size: 50px;
        font-family: 'Coolvetica';
        color: white;
    }
}
